
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    /* animation:changeBackground 10s infinite; */
    /* background-image: url('../assets/fundosemlogo.png');
    background-repeat: no-repeat; */
    /* background-color: #081E17; */
    /* background-size: cover; */
    background-color: var(--primary);
}

#header {
    background-color: var(--fifth);
    height: 12%;
}

#header .navbar-brand {
    width: 23%;
    padding: 10px 0 10px 50px;
    outline: none;
}

#header .collapse {
    padding: 0px 0px 0px 350px;
}

#header .nav-link {
    padding-top: 20px;
    font-size: 1em;
    font-weight:600;
    outline: none;
    color: var(--primary);
    text-transform: uppercase;
}

#header .nav-link:hover{
    text-decoration: underline;
    color: #fff;
}

#header .dropdown-menu {
    background-color:var(--fifth);
    color: var(--primary);
}

#header .dropdown-item{
    color: var(--primary);
    font-weight: bold;
}

#header .dropdown-item:hover {
    background-color: var(--primary);
}


#section {
    width: 100%;
}

#article-1 {
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel-inner {
    width: 100%;
    max-height: 450px;
    margin: 0;
    padding: 0;
}

.d-block {
    padding-top: 5px;
    width: 100%;
}


#article-2 {
    width: 100%;
    margin: 0;
    padding: 0;
}

#article-2 .container {
    width: 100%;
    margin: 0 auto;
    padding: 2% 3% 2% 3%;
}

/* #article-2 .sobre h2{
    color: var(--forth);
    font-size:xx-large;
    font-weight: bolder;
    padding-bottom: 3%;
} */

#article-2 .sobre p {
    text-indent: 50px;
    text-align: justify;
    color: var(--forth);
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.5; 
}

/* 
@keyframes giraMarca {
    0% {
        transform: rotateY(45deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(270deg);
    }
    100%{
        transform: rotateY(360deg);
    }

} */


/* ATUAÇÃO */
#article-2 #atuacao{
    width: 82%;
    height: 280px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#atuacao .item {
    width: 20%;
    height: 80px;
    margin: 5px 10px;
    background-color:  rgb(81,80, 83);
    border-radius: 5px;
    color: var(--secondary);
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
}

#article-2 .item:hover {
    transform: translate(0px, -8px);
    transition: 0.5s;
}

/* article-3 */
#cont-apresentacao {
    width: 90%;
    min-height: 100%;
    margin: 50px auto;
    /* background: linear-gradient(0deg, var(--secondary), #fff); */
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px silver;
    display: flex;
    flex-direction: column;

}

#cont-apresentacao .header{
    padding-bottom: 30px;
}

#cont-apresentacao .header h5{
    font-weight: bold;
    color: var(--tertiary);
    text-align: center;
    padding-top: 20px;
}

#cont-apresentacao .content{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    color: var(--forth);
    font-size: large;
    font-weight: 600;
}

#cont-apresentacao .content p{
    text-indent: 50px;
}

#cont-apresentacao .content ul {
    padding-left: 10%;
}

#cont-apresentacao .footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    color: var(--forth);
    font-weight: bold;
}


/* FOOTER */
#footer .main{
    width: 100%;
    min-height: 500px;
    background-color: rgb(81,80, 83);
    color: var(--fifth);
    position:absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#footer .item-1{
    width: 30%;
    min-height: 80%;
    padding: 30px 10px;
}
#footer .item-1 h4{
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
    color: var(--primary);
}

#footer .item-1 ul li {
    list-style: none;
    line-height: 3;
}

#footer .item-1 .texto {
    color: var(--primary);
    font-weight: 600;
}

#footer .item-2{
    width: 20%;
    min-height: 80%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .item-2 .selo {
    width: 70%;
    margin: 40px 40px;
}

/* #footer .item-2 .selo img{
    animation: giraMarca 10s infinite;
} */

#footer .item-2 .sociais img{
    width: 35px;
    padding: 0 5px;
}


#footer .item-3{
    width: 35%;
    min-height: 80%;
    padding-top: 50px;
}

#footer .form-footer {
    width: 98%;
    margin: 0 auto;
    color: var(--forth);
}

#footer .form-control {
    background-color: var(--primary);
}

#footer select{
    color: var(--forth);
}

#footer .copyright{
    font-size: small;
    color: var(--primary);
    padding: 10px 0 10px 0;
}